@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Inspiration&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Inter", sans-serif;
}

body{
    background-color: #d89797;
}

header{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    height: 30vh;

    background-color: #691f1f;

    color: #fff;
}

main{

    background: #fff;
    margin: auto;

    border-radius: 10px;

}

section{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    height: 55vh;
}

input[type="file"]{
    margin: 20px 0;
    padding: 10px;

    border: none;
    border-radius: 5px;

    background-color: #fff;
    color: #691f1f;

    font-size: 1rem;
    cursor: pointer;

    transition: background-color 0.3s ease;
}

button{
    padding: 10px 20px;
    border: none;
    border-radius: 5px;

    background-color: #691f1f;
    color: #fff;

    font-size: 1.2rem;
    cursor: pointer;

    transition: background-color 0.3s ease;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 15vh;

    background-color: #691f1f;

    color: #fff;
}

footer a{
    text-decoration: none;
    color: #fff;
}

footer a:hover{
    text-decoration: underline;

    color: #d89797;
}   